.footer {
  font-family: "Inconsolata";
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding-bottom: 110px;
}

.footer-extra-connect-text-holder {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.footer-text {
  color: #b5b5b5;
  margin: 35px auto;
  font-family: "Reenie Beanie";
  font-size: 28px;
}

.footer-connect-cta {
  width: 100%;
  align-self: center;
}

.sendoff-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addMargin {
  margin-top: 50px;
}

.sendoff-line h3 {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  color: #b5b5b5;
}

.sendoff-line span {
  color: #b5b5b5;
  font-size: 15px;
  margin-bottom: 0px;
}
