.project-card-content {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  gap: 30px;
}

.project-card-image-holder {
  width: 100%;
  max-width: 480px;
  max-height: 515px;
  height: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 99%;
  height: 98%;
  border-radius: inherit;
  object-fit: cover;
}

.overlay-effect {
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  height: 98%;
  border-radius: inherit;
  z-index: 4;
}

.overlay-effect.expanded {
  display: none;
}

.card-overlay-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 6;
  gap: 15px;
  display: flex;
  padding: 30px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 5px 15px 5px 5px;
}

.card-overlay-btn .project-expand-btn,
.project-visit-btn {
  width: 50px;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-size: 24px;
}

.project-expand-btn {
  background-color: #ffcc00;
}

.project-visit-btn {
  background-color: #22af0b;
}

/* ---------------------------------------------------------------- */

.project-card-content.expanded {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
}

.card-overlay-btn.expanded {
  display: none;
}

.project-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  padding: 20px;
  font-family: "Inconsolata";
  gap: 10px;
}

.project-card-image-holder.expanded {
  width: 60%;
  border-radius: 10px 0px 0px 10px;
}

.project-button-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.project-close-btn {
  background-color: #e51005;
  color: #2c2c2c;
  font-weight: bolder;
  border-radius: 50%;
  border: none;
  width: 32px;
  height: 32px;
  z-index: 10;
  font-size: 20px;
}

.project-go-btn {
  width: 25px;
  height: 25px;
  background-color: #43a047;
  border-radius: 50%;
  border: 2px solid;
  color: #43a047;
  font-weight: 900;
  font-size: 14px;
  z-index: 10;
  font-family: "Inconsolata";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease;
}

.project-close-btn:hover,
.project-go-btn:hover,
.project-github-btn:hover {
  transform: scale(1.1)
}

.project-go-btn svg {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease, opacity 0.5s ease;
  fill: #2c2c2c;
  opacity: 0;
}

.project-go-btn:hover svg {
  transform: scale(1.4);
  opacity: 1;
}

.project-github-btn {
  padding: 8px 16px 8px 8px;
  width: auto;
  background-color: #586796;
  color: white;
  border-radius: 90px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  font-weight: 700;
  font-family: "Inconsolata", "Helvetica Neue";
}

.github-img-container {
  width: 20px;
  height: 20px;
  background-color: #ededed;
  border-radius: 50%;
}

.project-card-title {
  font-size: 60px;
  font-weight: 1000;
  font-family: "Raleway", "Inconsolata";
  margin: 0 auto 15px 0;
}

.project-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.project-card-description {
  display: block;
  width: 100%;
  max-width: 430px;
  max-height: 140px;
  height: 120px;
  margin-bottom: 15px;
  font-size: 17px;
}

.tag {
  padding: 10px;
  border-radius: 3px;
  background-color: none;
  color: #959595;
  border: 2px solid #959595;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 0 25px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-card-tags {
  width: fit-content;
  max-width: 300px;
}

.project-card-tags > .tags {
  padding: 10px;
  border-radius: 3px;
  background-color: #ededed;
  color: #191919;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.tag-circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #191919;
}
