.gallery {
  height: 175vh;
  background: #090909;
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
  margin: 150px auto;
}

.column {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
  background-color: #191919;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0), -3px -3px 2px rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  height: 100vh;
}
